 <section class="intro_small wave">
    <ul class="slidewrapper">
        <li class="slide s01">
          <div class="overlay">
        </li>
    </ul>
  </section>

<section class="page">
  <div class="content">

  <p id="notice"><%= notice %></p>

  <%= render 'index', current_parthner: @parthner  %>
  
</div><!-- End Gallery Row -->
</section>