<!DOCTYPE html>
<html>
<head>
  <title>Сообщение с сайта GEYZER.SU</title>
</head>
<style type="text/css">
  th {
    background-color: #3D7CC5;
    color: #fff;
  }
  td {
    text-align: center;
  }
  td:nth-child(3) {
    color: #fff;
  }
</style>
<body>
  <%= @message.description %>
</body>
</html>